@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[url('$lib/img/bg-light.jpg')] bg-cover bg-fixed bg-center bg-no-repeat font-medium text-zinc-800/85 dark:bg-[url('$lib/img/bg-dark.jpg')] dark:text-zinc-100/80;
  }
}

@layer components {
  .glass {
    @apply rounded-lg border-2 border-zinc-100/40 bg-zinc-300/30 shadow-xl backdrop-blur-md backdrop-saturate-200 dark:border-zinc-800/40 dark:bg-zinc-700/30;
  }
}
